
.DS_Store

Notebooks/__pycache__/

Notebooks/.ipynb_checkpoints/

legacy/Code/PythonWaveEquation/.idea/misc.xml

legacy/Code/PythonWaveEquation/.idea/modules.xml

legacy/Code/PythonWaveEquation/.idea/PythonWaveEquation.iml

legacy/Code/PythonWaveEquation/.idea/vcs.xml

legacy/Code/PythonWaveEquation/.idea/workspace.xml

legacy/Code/PythonWaveEquation/.ipynb_checkpoints/StringEquationFTM-checkpoint.ipynb

legacy/Notebooks/.ipynb_checkpoints/StringSolver-checkpoint.py

legacy/Notebooks/.ipynb_checkpoints/WaveSolver-checkpoint.py
